<!-- style="max-height: 100%;" -->
<div class="container-xl text-center w-100 h-100">
    <div class="row pt-3">
        <div class="col">
            <h1>Donaciones</h1>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col text-start">
            <h2 class="my-auto">Tabla de donaciones</h2>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#donacionModal"
                (click)="accionDonacion(0)">
                Realizar donacion
            </button>
        </div>
    </div>

    <div id="row mt-1 mb-1">
        <div class="col">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let titulo of titulos">{{titulo}}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-active" *ngIf="donaciones.length === 0">
                        <td colspan="7" scope="col">SIN INFORMACION</td>
                    </tr>
                    <tr class="table-active" *ngFor="let donacion of donaciones">
                        <td scope="col">{{donacion.donador}}</td>
                        <td scope="col">{{donacion.monto}}</td>
                        <td scope="col">{{donacion.fecha}}</td>
                        <td scope="col">{{donacion.codigo}}</td>
                        <td scope="col">{{donacion.nombre}}</td>
                        <!-- <td scope="col">{{donacion.fecha_inicio}}</td>
                        <td scope="col">{{donacion.fecha_fin}}</td> -->
                        <td scope="col">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#donacionModal"
                                    (click)="accionDonacion(1, donacion)">Editar</button>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#donacionModal"
                                    (click)="accionDonacion(3, donacion)">Detalles</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#donacionModal"
                                    (click)="accionDonacion(2, donacion)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="donacionModal" tabindex="-1" aria-labelledby="donacionModal" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 m-0" id="titledonacionModal">Donacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--  was-validated -->
                <form [formGroup]="donacionForm" class="form form-vertical" *ngIf="donacionForm">
                    <div class="mb-1" *ngIf="tipo === 0">
                        <ngx-select-dropdown id="inputProyecto" class="size" [(ngModel)]="proyecto"
                            [ngModelOptions]="{standalone: true}" (change)="seleccionProyecto($event)" [options]="proyectos"
                            [multiple]="false" [config]="configPro"
                            [ngClass]="{'is-invalid': donacionForm.get('inputProyecto')?.errors?.['required'] && (donacionForm.get('inputProyecto')?.dirty || donacionForm.get('inputProyecto')?.touched)}">
                        </ngx-select-dropdown>

                        <select class="form-select visually-hidden" id="inputProyecto" multiple
                            [ngClass]="{'is-invalid': donacionForm.get('inputProyecto')?.errors?.['required'] && (donacionForm.get('inputProyecto')?.dirty || donacionForm.get('inputProyecto')?.touched)}">
                            <option selected disabled value="">Choose...</option>
                            <option selected value=""></option>
                        </select>

                        <div id="inputProyecto" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputProyecto')?.errors?.['required'] && (donacionForm.get('inputProyecto')?.dirty || donacionForm.get('inputProyecto')?.touched)">
                            Seleccionar proyecto.
                        </div>
                    </div>
                    <div class="mb-1" *ngIf="tipo === 0 && rubros.length">
                        <ngx-select-dropdown id="inputRubro" class="size" [(ngModel)]="rubro"
                            [ngModelOptions]="{standalone: true}" (change)="seleccionRubro($event)" [options]="rubros"
                            [multiple]="false" [config]="configRub"
                            [ngClass]="{'is-invalid': donacionForm.get('inputRubro')?.errors?.['required'] && (donacionForm.get('inputRubro')?.dirty || donacionForm.get('inputRubro')?.touched)}">
                        </ngx-select-dropdown>

                        <select class="form-select visually-hidden" id="inputRubro" multiple
                            [ngClass]="{'is-invalid': donacionForm.get('inputRubro')?.errors?.['required'] && (donacionForm.get('inputRubro')?.dirty || donacionForm.get('inputRubro')?.touched)}">
                            <option selected disabled value="">Choose...</option>
                            <option selected value=""></option>
                        </select>

                        <div id="inputRubro" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputRubro')?.errors?.['required'] && (donacionForm.get('inputRubro')?.dirty || donacionForm.get('inputRubro')?.touched)">
                            Seleccionar proyecto.
                        </div>
                    </div>
                    <div class="form-floating mb-1" *ngIf="rubro">
                        <input class="form-control" type="text" formControlName="inputDonador" id="inputDonador"
                            placeholder="donacion contra el cancer"
                            [ngClass]="{'is-invalid': donacionForm.get('inputDonador')?.errors?.['required'] && (donacionForm.get('inputDonador')?.dirty || donacionForm.get('inputDonador')?.touched)}">
                        <label for="inputDonador">Nombre del donador</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputDonador')?.errors?.['required'] && (donacionForm.get('inputDonador')?.dirty || donacionForm.get('inputDonador')?.touched)">
                            Ingresar nombre unico.
                        </div>
                    </div>
                    <div class="form-floating mb-1" *ngIf="rubro">
                        <input class="form-control" type="number" formControlName="inputMonto" id="inputMonto"
                            placeholder="Guatemala"
                            [ngClass]="{'is-invalid': donacionForm.get('inputMonto')?.errors?.['required'] && (donacionForm.get('inputMonto')?.dirty || donacionForm.get('inputMonto')?.touched)}">
                        <label for="inputMonto">Monto</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputMonto')?.errors?.['required'] && (donacionForm.get('inputMonto')?.dirty || donacionForm.get('inputMonto')?.touched)">
                            Ingresar monto.
                        </div>
                    </div>
                    
                    <div class="form-floating mb-1" *ngIf="tipo !== 0">
                        <input class="form-control" type="text" formControlName="inputCodigo" id="inputCodigo"
                            placeholder="Caritas">
                        <label for="inputCodigo">Codigo de proyecto</label>
                    </div>
                    <div class="form-floating mb-1" *ngIf="tipo !== 0">
                        <input class="form-control" type="text" formControlName="inputNombre" id="inputNombre"
                            placeholder="Contras">
                        <label for="inputNombre">Nombre del proyecto</label>
                    </div>
                    <div class="form-floating mb-1" *ngIf="tipo !== 0">
                        <input class="form-control" type="text" formControlName="inputRubro" id="inputRubro"
                            placeholder="Comidas">
                        <label for="inputRubro">Nombre del rubro</label>
                    </div>
                    <div class="form-floating mb-1" *ngIf="tipo !== 0">
                        <input class="form-control" type="text" formControlName="inputDonador" id="inputDonador"
                            placeholder="Antonio"
                            [ngClass]="{'is-invalid': donacionForm.get('inputDonador')?.errors?.['required'] && (donacionForm.get('inputDonador')?.dirty || donacionForm.get('inputDonador')?.touched)}">
                        <label for="inputDonador">Nombre del donador</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputDonador')?.errors?.['required'] && (donacionForm.get('inputDonador')?.dirty || donacionForm.get('inputDonador')?.touched)">
                            Ingresar donador.
                        </div>
                    </div>
                    <div class="form-floating mb-1" *ngIf="tipo !== 0">
                        <input class="form-control" type="number" formControlName="inputMonto" id="inputMonto"
                            placeholder="0.00"
                            [ngClass]="{'is-invalid': donacionForm.get('inputMonto')?.errors?.['required'] && (donacionForm.get('inputMonto')?.dirty || donacionForm.get('inputMonto')?.touched)}">
                        <label for="inputMonto">Monto</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputMonto')?.errors?.['required'] && (donacionForm.get('inputMonto')?.dirty || donacionForm.get('inputMonto')?.touched)">
                            Ingresar monto.
                        </div>
                    </div>
                    <div class="form-floating mb-1" *ngIf="tipo !== 0">
                        <input class="form-control" type="date" formControlName="inputFecha" id="inputFecha"
                            placeholder="01/01/2025"
                            [ngClass]="{'is-invalid': donacionForm.get('inputFecha')?.errors?.['required'] && (donacionForm.get('inputFecha')?.dirty || donacionForm.get('inputFecha')?.touched)}">
                        <label for="inputFecha">Fecha</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputFecha')?.errors?.['required'] && (donacionForm.get('inputFecha')?.dirty || donacionForm.get('inputFecha')?.touched)">
                            Ingresar Fecha.
                        </div>
                    </div>

                    <!-- 
                    <div class="form-floating mb-1" *ngIf="rubro">
                        <input class="form-control" type="date" formControlName="inputFecha"
                            id="inputFecha" placeholder="01/01/2025"
                            [ngClass]="{'is-invalid': donacionForm.get('inputFecha')?.errors?.['required'] && (donacionForm.get('inputFecha')?.dirty || donacionForm.get('inputFecha')?.touched)}">
                        <label for="inputFecha">Fecha</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputFecha')?.errors?.['required'] && (donacionForm.get('inputFecha')?.dirty || donacionForm.get('inputFecha')?.touched)">
                            Ingresar fecha.
                        </div>
                    </div>
                    <div class="form-floating mb-1">
                        <input class="form-control" type="text" formControlName="inputProyecto"
                            id="inputProyecto" placeholder="Mixco">
                        <label for="inputProyecto">Codigo</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input class="form-control" type="text" formControlName="inputNombre"
                            id="inputNombre" placeholder="Mixco"
                            [ngClass]="{'is-invalid': donacionForm.get('inputNombre')?.errors?.['required'] && (donacionForm.get('inputNombre')?.dirty || donacionForm.get('inputNombre')?.touched)}">
                        <label for="inputNombre">Departamento</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"
                            *ngIf="donacionForm.get('inputNombre')?.errors?.['required'] && (donacionForm.get('inputNombre')?.dirty || donacionForm.get('inputNombre')?.touched)">
                            Ingresar departamento.
                        </div>
                    </div> -->
                    <div class="col-12 mt-3 d-flex justify-content-center" *ngIf="tipo !== 3">
                        <button type="button" class="btn btn-success w-100"
                            (click)="!donacionForm.valid && !donacionForm.disabled ? donacionForm.markAllAsTouched() : accionModal(tipo)"
                            [ngClass]="{'btn-success': tipo===0, 'btn-primary': tipo===1, 'btn-danger': tipo===2}"
                            type="submit">{{accion}}</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>