.modal-content {
    border: 0px;
    align-items: center;
    // width: 80%;
    background: transparent;
    text-align: center;
}

.imagen {
    width: 50px;
    height: 50px;
    // margin-bottom: 10px;
}

:host::ng-deep .loadingPanel .mat-dialog-container{
    padding:0;
    background: transparent;
    height: 50px;
    width: 50px;
    box-shadow: none;
    // z-index: 10000;
}

::ng-deep .cdk-overlay-container{
    z-index: 5000;
}

:host::ng-deep .swal2-container{
    z-index: 6000;
}

// :host /deep/ 
// :host::ng-deep
// ::ng-deep
::ng-deep .mat-mdc-dialog-surface {
    background-color: transparent;
    box-shadow: none;
}